.intro-marquee-array {
  width: 65%;
}
.intro-title {
  font-size: 6.5rem;
}
.intro-subtitle {
  font-size: 2rem;
}

@keyframes introMoveTitle {
  0%   { transform: translate(0%, 50%); opacity: 0 }
  100% { transform: translate(0%, 0%); opacity: 1 }
}
@keyframes introMoveSubtitle {
  0%   { transform: translate(0%, 50%); opacity: 0 }
  100% { transform: translate(0%, 0%); opacity: 1 }
}

@media (max-width: 768px) {
  .intro-marquee-array {
    width: 100%;
  }
  .intro-title {
    font-size: 3.5rem;
  }
  .intro-subtitle {
    font-size: 1rem;
  }
}