.fade-in-container {
  transform: translateX(4rem);
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;
  opacity: 0;
}

.fade-in-container.visible {
  transform: translateX(0px);
  opacity: 1;
}