.timeline-container {
  min-height: 100%;
}

@media (max-width: 768px) {
  .timeline-container {
    min-height: 35rem;
  }
}
@media (max-width: 400px) {
  .timeline-container {
    min-height: 45rem;
  }
}