:root {
  font-family: 'Geist', sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: oklch(0.205 0 0);
  background-color: #ffffff;
  margin: 0;
  padding: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: oklch(1 0 0);
  --background-hover: oklch(0.96 0 0);
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.5 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(45.622% 0.2434 266.905);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.97 0.01 17);
  --shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.05);
  --border: 1px solid #e5e7eb;

  --navbar-height: 55px;
}

:root.dark {
  --background: oklch(0.12 0 0);
  --background-hover: oklch(0.16 0 0);
  --primary: oklch(0.95 0 0);
  --secondary: oklch(0.6 0 0);
  --muted-foreground: oklch(0.5 0 0);
  --accent: oklch(55% 0.2434 266.905);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.97 0.01 17);
  --shadow: 0 0px 6px 0px rgba(255, 255, 255, 0.05);
  --border: 1px solid #2a2d31;
}

* {
  /*transition every property that gets affected by theme*/
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  user-select: none;
}

.container {
  min-height: 100vh;   /* At least the height of the viewport */
  display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  font-weight: 600;
  color: var(--primary);
  line-height: 1.1;
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background);
  cursor: pointer;
  transition: background-color 0.25s;
  transition: transform 0.1s;
}
button:hover {
  background-color: var(--background-hover);
}
button:active {
  transform: translateY(1px);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}