/* split container */
.split-container {
  display: flex;
  flex-direction: row;
}
.split-item-left {
  flex: var(--left, 1);
}
.split-item-right {
  flex: var(--right, 1);
}

.page-padding-container {
  padding-left: 5rem;
  padding-right: 5rem;
}

@media (max-width: 768px) {
  .split-container {
    flex-direction: column;
  }
  .split-item-left, .split-item-right {
    width: 100%;
    min-width: 0rem;
  }

  .page-padding-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}