:root {
  --background: oklch(0.155 0 0);
  --background-hover: oklch(0.2 0 0);
  --primary: oklch(0.9 0 0);
  --secondary: oklch(0.825 0 0);
  --muted-foreground: oklch(0.5 0 0);
  --accent: oklch(55% 0.2434 266.905);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.97 0.01 17);
  --shadow-out: 0 0px 0.5rem 0px rgba(255, 255, 255, 0.035);
  --shadow-in: inset 0 0px 1rem 0px rgba(255, 255, 255, 0.015);
  --border: 1px solid #2a2d31;

  background-color: var(--background);
  color: var(--primary);
}

:root.light {
  --background: oklch(0.985 0 0);
  --background-hover: oklch(0.94 0 0);
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.325 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(48.662% 0.2494 267.44);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.97 0.01 17);
  --shadow-out: 0 0px 0.5rem 0px rgba(0, 0, 0, 0.05);
  --shadow-in: inset 0 0px 1rem 0px rgba(0, 0, 0, 0.035);
  --border: 1px solid #e5e7eb;

  background-color: var(--background);
  color: var(--primary);
}

* {
  /* transition every property that gets affected by theme */
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}