:root {
  --background: oklch(0.155 0 0);
  --background-secondary: oklch(0.165 0 0);
  --background-tertiary: oklch(0.18 0 0);
  --background-hover: oklch(0.2 0 0);
  --primary: oklch(0.9 0 0);
  --secondary: oklch(0.825 0 0);
  --tertiary: oklch(0.775 0 0);
  --muted-foreground: oklch(0.5 0 0);
  --accent: oklch(55% 0.2434 266.905);
  --emphasis: oklch(82.032% 0.16486 81.103);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.97 0.01 17);
  --shadow: 0 0 0.75rem 0 oklch(1 0 0 / 0.015);
  --shadow-inner: inset 0 0.05rem 0.05rem 0 oklch(1 0 0 / 0.1);
  --border: 1px solid oklch(0.225 0 0);

  --transition:
    background-color 0.125s ease,
    color 0.25s ease,
    border-color 0.25s ease,
    box-shadow 0.25s ease;

  background-color: var(--background);
  color: var(--primary);
}

:root.light {
  --background: oklch(0.985 0 0);
  --background-secondary: oklch(0.9725 0 0);
  --background-tertiary: oklch(0.9575 0 0);
  --background-hover: oklch(0.94 0 0);
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.325 0 0);
  --tertiary: oklch(0.4 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(57.147% 0.23394 276.066);
  --emphasis: oklch(85.791% 0.15459 84.645);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.97 0.01 17);
  --shadow: 0 0 0.75rem 0 oklch(0 0 0 / 0.035);
  --shadow-inner: inset 0 0.05rem 0.05rem 0 oklch(0 0 0 / 0.1);
  --border: 1px solid oklch(0.9 0 0);

  background-color: var(--background);
  color: var(--primary);
}

* {
  /* transition every property that gets affected by theme */
  transition: var(--transition);
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.background-effect {
  background: linear-gradient(-45deg, var(--background), var(--background-tertiary));
  background-size: 400% 400%;
  animation: gradientShift 3s ease infinite;
}